{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">

<footer>
    <div class="footer-container">
        <!-- Section des réseaux sociaux -->
        <div class="social-links">
            <h3>Suivez-moi</h3>
            <ul>
                <li>
                    <a href="https://www.linkedin.com/in/fiarma/" target="_blank">
                        <img src="{% static 'images/linkedin.jpeg' %}" alt="LinkedIn">
                    </a>
                </li>
                <li>
                    <a href="https://github.com/Fiarma5233/" target="_blank">
                        <img src="{% static 'images/github.jpeg' %}" alt="GitHub">
                    </a>
                </li>
            </ul>
        </div>

        <!-- Section des réalisations -->
        <div class="portfolio-links">
            <h3>Mes Réalisations</h3>
            <div class="portfolio-grid">
                <ul>
                    {% for realisation in realisations %}
                    <li>
                        <a href="{{ realisation.link }}" target="_blank">{{ realisation.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <!-- Copyright dynamique -->
    <div class="footer-copyright">
        <p>&copy; {{ current_year }} Mon Portfolio. Tous droits réservés.</p>
    </div>
</footer>