{% extends 'base.html' %}

{% block content %}
<h2>Mes Expériences et Certifications</h2>
<ul>
    {% for experience in experiences %}
    <li>
        <h3>{{ experience.title }}</h3>
        <p>{{ experience.organization }} - {{ experience.year }}</p>
        <p>{{ experience.description }}</p>
        {% if experience.certification_file %}
        <a href="{{ experience.certification_file.url }}" target="_blank">Voir la certification</a>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock %}